<div class="home-container">
    <div class="home-banner-container">
        <div class="home-bannerImage-container"></div>
        <div class="home-text-section">
            <h1 class="primary-heading">Lorem ipsum dolor sit amet</h1>
            <p class="primary-text">
                Phasellus fringilla ligula et lectus hendrerit, sed mattis Tellus
                aliquam. Dito inteiro erat velit, facilisis hendrerit eros comodo
                molestie. Nada fácil. Nullam nulla arcu, placerat nec sempre sed,
                euismod ac dui.
            </p>
            <button class="secondary-button">
                Fale no whatsapp
            </button>
            <p class="primary-text">
                Nulla ut ligula vel libero condimentum accumsan nec ac sem. Integer
                molestie sed mauris eu consectetur.
            </p>
        </div>
        <div class="home-image-section">
            <div class="home-primary-image">
                <img src="assets/img/banner.png" alt="flash" />
            </div>
        </div>
    </div>
</div>
