<div class="footer-wrapper">
    <div class="footer-section-one">
      <div class="footer-logo-container">
        <img src="assets/img/logo.svg" alt="logo flash" />
      </div>
      <div class="footer-icons">
        <fa-icon [icon]="faInstagram"></fa-icon>
        <fa-icon [icon]="faFacebookF"></fa-icon>
        <fa-icon [icon]="faLinkedin"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
      </div>
    </div>

    <div class="footer-section-two">
      <div class="footer-section-colums">
        <span>Qualidade</span>
        <span>Ajuda</span>
        <span>Nossa Marca</span>
        <span>Carreira</span>
        <span>Avaliação</span>
        <span>Nosso Trabalho</span>
      </div>
      <div class="footer-section-colums">
        <span [textContent]="'62-99335-7679'"></span>
        <span [textContent]="'62-99317-2731'"></span>
        <span [textContent]="'Flash@tech.com'"></span>
        <span [textContent]="'SEO@tech.com'"></span>
      </div>

      <div class="footer-section-colums">
        <span>Termos & Condições</span>
        <span>Politica de Privacidade</span>
      </div>
    </div>
</div>
