<div class="about-section-container">
    <div class="about-background-image-container">
      <img src="assets/img/imagem_google.png" alt="site bem posicionado" />
    </div>

    <div class="about-section-text-container">
      <p class="primary-subheading">Sobre Nós</p>
      <h1 class="primary-heading">
        Nulla vel libero facilisis felis mattis finibus convallis eu sapien.
      </h1>
      <p class="primary-text">
        Aliquam imperdiet et sapiens at ultrices. Morbi a dapibus lectus.
        Nulla venenatis malesuada nisi efficitur porttitor. Sed egestas dolor
        eu rutrum sollicitudin
      </p>
      <p class="primary-text">
        Nunc justo lectus, porta et mattis a, cursus ut orci. Pellentesque
        vitae nibh ut enim ultricies pulvinar. Vestibulum ante ipsum primis in
        faucibus orci luctus et
      </p>
      <div class="about-button-container">
        <button class="secondary-button">Leia Mais</button>
        <button class="watch-video-button">
            Assista nosso video
        </button>
      </div>
    </div>
</div>
